body {
    font-family: Arial, Helvetica, sans-serif;
    width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 3px solid blue;
}
h1, h2, ul, p {
	margin: 0;
	padding: 0;
}
h1 {
	padding-bottom: .25em;
	color: blue;
}
h2 {
	font-size: 120%;
	padding: .5em 0;
}
li {
	padding: 0 0.25em;
	display: inline;
}
#caption, #gallery {
	text-align: center;
}
fieldset {
	margin-bottom: 1em;
}
legend {
	color: blue;
	font-weight: 900;
}
input {
	width: 30%;
}
label {
	margin-bottom: .5em;
	display: inline-block;
	width: 20%;
	text-align: left;
}
input[type='radio'], input[type='checkbox'], input[type='submit'] {
	width: auto;
	margin-right: 1em;
}
span {
	margin-right: 2em;
}
input[type='submit'] {
	display: block;
	padding: 1em;
}