body {
    font-family: Arial, Helvetica, sans-serif;
    width: 800px;
    margin: 0 auto;
	border: 3px solid black;
	background: white;
	box-shadow: 0px 5px 12px 10px black;
	padding-bottom: 0;
}
html {
	background-image: url("../images/bats.gif");
	background-repeat: repeat;
}
h1, h2, ul {
	margin: 0;
	padding: 0;
}
h3 {
	margin-bottom: 1em;
}
h1 {
	padding-bottom: .25em;
}
li {
	padding: 0 0.25em;
	margin-bottom: 5px;
	margin-left: 2em;
}
#caption, #gallery {
	text-align: center;
}
h1,h2,h3 {
	font-size:120%;
}
h1 {
	font-size: 160%;
}
h1::first-letter {
	font-size:200%;
}
header {
	padding: 20px;
	border-bottom: 3px solid black;
	background: -webkit-linear-gradient(45deg, #FFF, #ef9c00 75%, #000 100%);
	background: -moz-linear-gradient(45deg, #FFF, #ef9c00 75%, #000 100%);
	background: -o-linear-gradient(45deg, #FFF, #ef9c00 75%, #000 100%);
	background: -ms-linear-gradient(45deg, #FFF, #ef9c00 75%, #000 100%);
}
header img {
	float: left;
	margin-right: 1em;
	margin-bottom: 2em;
}
header h2 {
	font-size: 220%;
}
header h3 {
	margin: 0;
	padding-left: 5px;
}
main {
	clear:left;
	padding: 30px;
} 
main h2 {
	margin: 5px;
}
main p {
	margin-top: 2px;
	padding: 0;
}
a { 
	font-weight: bold; 
	color: #ef9c00;
}
a:link {color: #ef9c00; }
a:hover, a:focus { color: green; }
footer{
	background: -webkit-linear-gradient(45deg, #000, #ef9c00 25%, #fff 100%);
	background: -moz-linear-gradient(45deg, #000, #ef9c00 25%, #fff 100%);
	background: -o-linear-gradient(45deg, #000, #ef9c00 25%, #fff 100%);
	background: -ms-linear-gradient(45deg, #000, #ef9c00 25%, #fff 100%);
	padding: 10px;
	font-size: 80%;
	text-align: center;
	border-top: 3px solid black;
}
